@using MudBlazor
@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="appbar">
    <MudAppBar Color="Color.Primary" Fixed="false" Dense=true>
        <MudText Typo="Typo.h6" Class="px-4">DM Cockpit</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/AlexDickerson/DMCockpit-Blazor" Color="Color.Inherit" />
    </MudAppBar>
</div>

<div class="page" style="height: calc(100% - 52px); overflow: hidden;">
    <MudPaper Width="250px" Class="dmcockpit-navbar" Elevation="0">
        <MudNavMenu>
            <MudNavLink Href="/">Control</MudNavLink>
            <MudNavLink Href="/">Settings</MudNavLink>
            <MudNavLink Href="/">About</MudNavLink>
        </MudNavMenu>
    </MudPaper>

    <main class="cockpit-content">
        @Body
    </main>

    <MudPaper Width="50px" Class="dmcockpit-navbar" Elevation="0">
        <MudButtonGroup VerticalAlign="true">
            <MudIconButton Icon="@Icons.Material.Filled.MusicNote" OnClick="@OpenSpotifyDrawer"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.LibraryBooks" OnClick="@OpenAONDrawer"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Person" OnClick="@OpenNameGeneratorDrawer"></MudIconButton>
        </MudButtonGroup>
    </MudPaper>

    <SpotifyDrawer @ref="spotifyDrawer" />
    <AONDrawer @ref="aonDrawer" />
    <NameGeneratorDrawer @ref="nameGeneratorDrawer" />
</div>
